<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:replace="fragments/head :: head('create new post')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />

<div class="container">
    <h1 class="display-4 my-5 mx-auto">Create New Post</h1>
    <div class="row my-5">
        <form th:action="@{/posts/create}" th:method="post"  th:object="${post}">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{title}" id="title" placeholder="title" />
            </div>
            <div class="form-group">
                <textarea class="form-control" th:field="*{body}" id="body" placeholder="enter text" rows="10" cols="30" maxlength="1000"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<th:block th:replace="fragments/bootstrapJs :: bootstrapJs" />
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>