<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:replace="fragments/head :: head('edit')" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar" />

<div class="container">
    <div class="row my-5">
        <form method="post" th:action="@{'/posts/' + ${post.id} + '/edit'}">
            <div class="form-group">
                <input type="text" class="form-control" name="title" id="title" aria-describedby="newTitle" th:value="${post.title}" />
            </div>
            <div class="form-group">
                <textarea class="form-control" name="body" id="body" th:field="${post.body}" rows="3"></textarea>
            </div>
            <input type="hidden" name="id" th:value="${post.id}"/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<th:block th:replace="fragments/bootstrapJs :: bootstrapJs" />
<th:block th:replace="fragments/footer :: footer" />
</body>
</html>