<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:replace="fragments/head :: head('Home')" />
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar" />

    <div class="container">
        <div class="row my-5">
            <div th:each="post : ${posts}" class="col col-md-4">
                <h1 class="display-4 my-4" th:text="${post.title}"></h1>
                <p th:text="${#dates.format(post.dateCreated, 'yyyy-MM-dd')}"></p>
                <p th:text="${post.body}"></p>
                <a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="btn btn-warning">Edit</a>
                <a th:href="@{'/posts/' + ${post.id} + '/delete'}" class="btn btn-danger">Delete</a>
            </div>

        </div>
    </div>

    <th:block th:replace="fragments/bootstrapJs :: bootstrapJs" />
    <th:block th:replace="fragments/footer :: footer" />
</body>
</html>