body {
    background: #ddd;
}

#footer {
    height: 100px;
    color: #fff;
}

.container {
    height: 90vh;
}

.btn-link {
    color: #ffffff80;
    text-decoration: none;
}
.btn-link:hover {
    color: #eee;
    text-decoration: none;
}
